body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

.social {
  background-color: #a6a182;
  color: #f8f8f8;
}

.navbar {
  font-size: 19px;
  background-color: #ffffff;
}
.nav-item button {
  background-color: #a6a182;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}
.nav-item button:hover {
  background-color: black;
  color: white;
}

.hero-image1-border {
  width: 650px;
  height: 775px;
  position: absolute;
  right: 185px;
  top: -50px;
  border: 1px solid #a6a182;
  border-radius: 5px;
  z-index: -1;
}

.hero-image2-border {
  width: 300px;
  height: 365px;
  position: absolute;
  left: 370px;
  top: 350px;
  border: 1px solid #a6a182;
  border-radius: 5px;
  z-index: -1;
}

.aboutus-para{
  line-height: 30px;
  
}

.readmore-button{
  background-color: #a6a182;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.readmore-button:hover{
  background-color: black;
  color: white;
}

.heading
{
  font-size: 55px; 
  font-weight: 700
}

.service-item{
  padding-left: 120px;
}

.work-item
{
  background-image: url(images/process-bg.jpg);
  width: 100%;
  height: 450px;
  background-size: cover; 
  position: relative;
  opacity: 0;
  border: #ffffff;
  overflow: hidden;
}

.work-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  transition: opacity 0.5s ease;
}

.work-item-text{
  position: absolute;
  margin-top: -450px;
  transition: color 0.5s ease;
}
.work-number{
  font-size: 60px;
  color: #a6a182;
}

.work-item:hover::before{
  opacity: 1;
}

.work-process:hover .work-item-text{
  color: white;
  font-weight: 500;
}

.work-process:hover .work-number
{
  color: white;

}

.work-process:hover .work-item{
  opacity: 1;
}

.achi-button{
  border: solid 1px #a6a182;
  transition: 0.5s ease;
}

.achi-button:hover{
  background-color: #a6a182;
  color: white;
}

.achi-counter
{
  font-size: 50px;
  font-weight: 700;
}

.achi-item{
  border: none;
}

.small-heading
{
  color: #a6a182;
}

.review-text{
  font-weight: 600;
  font-size: 22px;
}

/* star rating */
.rate {
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
/* rating end */

.team-member-name{
  font-size: 24px;
  font-weight: 600;
}

.member-info{
  margin-top: -105px;
}

.accordion-item{
  width: 600px;
  background-color: white;
  color: black;
}

.accordion-text{
  font-size: 24px;
  font-weight: 700;
}

.accordion-button{
  border: none;
}

.accordion-item.active {
  background-color: #a6a182;
}

.accordion-item.active .accordion-header button{
  border: solid 1px #a6a182;
}
.accordion-item.active .accordion-button {
  color: white;
}
.price-container{
  margin-top: -30px;
  border: none;
}
.price-title{
  font-size: 24px;
  font-weight: 600;
}
.price-tag{
  background-color: #a6a182;
  color: white;
  width: 110px;
  border-radius: 5px;
}
.price{
  font-size: 20px;
  font-weight: 600;

}
.news-item{
  width: 400px;
}
.news-image{
  width: 350px!important;
  border-radius: 5px;
}
.news-info{
  margin-top: -50px;
  margin-left: 50px;
}

.news-title{
  font-size: 25px;
  font-weight: 600;
}

.news-button{
  border: none;
  background-color: white;
}

footer{
  background-color: black;
  margin-top: 120px;
  color: white;
}

.footer-title{
  font-size: 25px;
  font-weight: 600;
}
.footer-list{
  list-style: none;
}
.contact-info{
  font-size: 21px;
  font-weight: 600;
}
.copyright-container{
  padding-top: 25px;
  padding-bottom: 10px;
  background-color:rgb(34, 33, 33);
}